$primary: #53bfa5;
$secondary: #5360bf;
$tertiary:#bfa953;

$family-sans-serif: "Poppins", sans-serif;

$background: #0f1626;
$link: $secondary;

$background-special: url(/static/assets/images/bg-img-dark.jpg);